In [1637]:
import pandas as pd
import numpy as np

dataset_temp = pd.read_html('Version 14.html')
dataset_temp
dataset = pd.concat(dataset_temp)
dataset = dataset.set_index("ID")
dataset.head(10)

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,,,,,,,,,,,
1,D,Flight,4.0,2.0,177.0,3,low,F,44.0,1233.0,1.0
2,F,Flight,4.0,5.0,216.0,2,low,M,59.0,3088.0,1.0
3,A,Flight,2.0,2.0,183.0,4,low,M,48.0,3374.0,1.0
4,B,Flight,3.0,3.0,176.0,4,medium,M,10.0,1177.0,1.0
5,C,Flight,2.0,2.0,184.0,3,medium,F,46.0,2484.0,1.0
6,F,Flight,3.0,1.0,162.0,3,medium,F,12.0,1417.0,1.0
7,D,Flight,3.0,4.0,250.0,3,low,F,3.0,2371.0,1.0
8,F,Flight,4.0,1.0,233.0,2,low,F,48.0,2804.0,1.0
9,A,Flight,3.0,4.0,150.0,3,low,F,11.0,1861.0,1.0
10,B,Flight,3.0,2.0,164.0,3,medium,F,29.0,1187.0,1.0

In [1638]:
dataset.dtypes
# TODO: convert "Prior_purchases to int"

Warehouse_block         object
Mode_of_Shipment        object
Customer_care_calls    float64
Customer_rating        float64
Cost_of_the_Product    float64
Prior_purchases         object
Product_importance      object
Gender                  object
Discount_offered       float64
Weight_in_gms          float64
Reached.on.Time_Y.N    float64
dtype: object

Cleansing a Data

In [1639]:
# TODO: rename columns
# dataset.columns = ["", "", "", "", "", "", "", "", "", ""]
dataset.rename(columns={"Mode_of_Shipment": "Shipment", "Cost_of_the_Product": "Product_Cost", }, inplace=True)
dataset.head(10)

# TODO: sort and reordering
# Thus we have INT indexes and dont have data that must be really sorted we won't be doing smth like that, but it will be the sample of it
dataset.sort_values(by="Customer_rating", ascending=False).head(10)

# We will reorder columns just for comfort of reading. So data about clients and products will be

,Warehouse_block,Shipment,Customer_care_calls,Customer_rating,Product_Cost,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,,,,,,,,,,,
192,F,Ship,NaN,133.0,3.0,low,F,62,1596.0,1.0,NaN
732,F,Ship,6.0,5.0,113.0,3,high,F,35.0,1402.0,1.0
275,C,Flight,3.0,5.0,229.0,6,medium,M,22.0,2717.0,1.0
273,A,Flight,4.0,5.0,148.0,2,medium,F,43.0,1087.0,1.0
938,F,Road,4.0,5.0,143.0,2,medium,F,20.0,1360.0,1.0
270,F,Flight,4.0,5.0,208.0,3,medium,M,23.0,2056.0,1.0
269,C,Road,3.0,5.0,241.0,3,low,F,21.0,3078.0,1.0
543,A,Road,4.0,5.0,218.0,3,low,F,40.0,3200.0,1.0
1253,C,Ship,5.0,5.0,226.0,3,medium,F,65.0,3840.0,1.0
933,A,Road,3.0,5.0,242.0,3,medium,F,3.0,2268.0,1.0

In [1640]:
dataset.nunique()

Warehouse_block           6
Shipment                  5
Customer_care_calls       6
Customer_rating           6
Product_Cost            183
Prior_purchases           9
Product_importance        4
Gender                    5
Discount_offered         66
Weight_in_gms          1141
Reached.on.Time_Y.N       1
dtype: int64

In [1641]:
def count_nulls(df):
    null_cols = df.isnull().sum()
    return null_cols.to_dict()

print(count_nulls(dataset))

{'Warehouse_block': 1, 'Shipment': 2, 'Customer_care_calls': 3, 'Customer_rating': 2, 'Product_Cost': 2, 'Prior_purchases': 1, 'Product_importance': 2, 'Gender': 1, 'Discount_offered': 1, 'Weight_in_gms': 2, 'Reached.on.Time_Y.N': 2}

In [1642]:
null_rows = dataset.isnull().mean(axis=1) > 0.5
dataset[null_rows]

,Warehouse_block,Shipment,Customer_care_calls,Customer_rating,Product_Cost,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,,,,,,,,,,,
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1643]:
dataset = dataset.drop(dataset[null_rows].index)

In [1644]:
null_rows = dataset.isnull().mean(axis=1) > 0.5
if not null_rows.any():
  num_null_rows = 0
else:
  num_null_rows = dataset[null_rows].shape[0]

In [1645]:
dataset.reset_index(drop=True, inplace=True)

In [1646]:
# TODO: change to 'category' datatype
# Warehouse_block, Shipment, Prior_purchases, Product_importance, Gender

In [1647]:
def convert_to_category(df, column):
    df[column] = df[column].astype('category')
    df[column].cat.add_categories(['null'], inplace=True)
    df.loc[~df[column].isin(df[column].cat.categories), column] = 'null'
    return df
# dataset['Gender'] = dataset['Gender'].astype('category')

In [1648]:
dataset['Gender'].unique()

array(['F', 'M', '62', 'Male', 'Female'], dtype=object)

In [1649]:
def convert_to_valid_values(df, column):
    df[column] = df[column].map({'Man':'M', 'Female':'F', 'Woman':'F'}).fillna(df[column])
    df.loc[~df[column].isin(['M','F']), column] = np.NaN
    return df

dataset = convert_to_valid_values(dataset, 'Gender')

In [1650]:

dataset = convert_to_category(dataset, 'Gender')

C:\Users\User\AppData\Local\Temp\ipykernel_21612\3492534055.py:3: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.add_categories(['null'], inplace=True)

In [1651]:
dataset['Gender'].unique()

['F', 'M', 'null']
Categories (3, object): ['F', 'M', 'null']

In [1652]:
def replace_null_category(df, column):
    # Check if the column is of type category
    if df[column].dtype != "category":
        print(f"{column} is not of type category")
        return
    # Check if the column has a category "null"
    if "null" not in df[column].cat.categories:
        print(f"{column} does not have a category 'null'")
        return
    # Replace values of category "null" with NaN
    df[column].cat.remove_categories("null", inplace=True)

In [1653]:
replace_null_category(dataset, 'Gender')

C:\Users\User\AppData\Local\Temp\ipykernel_21612\160654791.py:11: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.remove_categories("null", inplace=True)

In [1654]:
dataset['Gender'].unique()

['F', 'M', NaN]
Categories (2, object): ['F', 'M']

In [1655]:
def unique_values(df, columns):
    unique_values_dict = {}
    for column in columns:
        if column in df.columns:
            unique_values_dict[column] = df[column].unique()
        else:
            print(f"{column} is not a valid column name")
    return unique_values_dict

In [1656]:
from pprint import pprint
pprint(unique_values(dataset, ['Warehouse_block', 'Shipment', 'Prior_purchases', 'Product_importance', 'Gender']))

{'Gender': ['F', 'M', NaN]
Categories (2, object): ['F', 'M'],
 'Prior_purchases': array(['3', '2', '4', '6', '5', '7', '10', 'low', '8'], dtype=object),
 'Product_importance': array(['low', 'medium', 'high', nan, 'F'], dtype=object),
 'Shipment': array(['Flight', 'Flightttttttttt', 'Ship', 'Road', '???', nan],
      dtype=object),
 'Warehouse_block': array(['D', 'F', 'A', 'B', 'C', 'AAAAAA'], dtype=object)}

In [1657]:
def replace_column_values(df, column, check_value, replacement_value):
    df[column] = df[column].apply(lambda x: replacement_value if x == check_value else x)
    return df

In [1658]:
dataset = replace_column_values(dataset, 'Warehouse_block', 'AAAAAA', 'A')

In [1659]:
dataset = replace_column_values(dataset, 'Shipment', 'Flightttttttttt', 'Flight')
dataset = replace_column_values(dataset, 'Shipment', '???', np.NaN)

In [1660]:
dataset = replace_column_values(dataset, 'Product_importance', 'F', np.NaN)

In [1661]:
dataset = replace_column_values(dataset, 'Prior_purchases', 'low', '2')

In [1662]:
pprint(unique_values(dataset, ['Warehouse_block', 'Shipment', 'Prior_purchases', 'Product_importance', 'Gender']))

{'Gender': ['F', 'M', NaN]
Categories (2, object): ['F', 'M'],
 'Prior_purchases': array(['3', '2', '4', '6', '5', '7', '10', '8'], dtype=object),
 'Product_importance': array(['low', 'medium', 'high', nan], dtype=object),
 'Shipment': array(['Flight', 'Ship', 'Road', nan], dtype=object),
 'Warehouse_block': array(['D', 'F', 'A', 'B', 'C'], dtype=object)}

In [1663]:
dataset['Prior_purchases'] = pd.to_numeric(dataset['Prior_purchases'], errors='coerce')

In [1664]:
temp = ['Product_importance', 'Shipment', 'Warehouse_block']
for column in temp:
    convert_to_category(dataset, column)
    replace_null_category(dataset, column)

C:\Users\User\AppData\Local\Temp\ipykernel_21612\3492534055.py:3: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.add_categories(['null'], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_21612\160654791.py:11: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.remove_categories("null", inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_21612\3492534055.py:3: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.add_categories(['null'], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_21612\160654791.py:11: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.remove_categories("null", inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_21612\3492534055.py:3: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.add_categories(['null'], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_21612\160654791.py:11: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[column].cat.remove_categories("null", inplace=True)

In [1665]:
pprint(unique_values(dataset, ['Warehouse_block', 'Shipment', 'Prior_purchases', 'Product_importance', 'Gender']))

{'Gender': ['F', 'M', NaN]
Categories (2, object): ['F', 'M'],
 'Prior_purchases': array([ 3,  2,  4,  6,  5,  7, 10,  8], dtype=int64),
 'Product_importance': ['low', 'medium', 'high', NaN]
Categories (3, object): ['high', 'low', 'medium'],
 'Shipment': ['Flight', 'Ship', 'Road', NaN]
Categories (3, object): ['Flight', 'Road', 'Ship'],
 'Warehouse_block': ['D', 'F', 'A', 'B', 'C']
Categories (5, object): ['A', 'B', 'C', 'D', 'F']}

In [1666]:
dataset.dtypes
dataset.head(10)

,Warehouse_block,Shipment,Customer_care_calls,Customer_rating,Product_Cost,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,D,Flight,4.0,2.0,177.0,3,low,F,44.0,1233.0,1.0
1,F,Flight,4.0,5.0,216.0,2,low,M,59.0,3088.0,1.0
2,A,Flight,2.0,2.0,183.0,4,low,M,48.0,3374.0,1.0
3,B,Flight,3.0,3.0,176.0,4,medium,M,10.0,1177.0,1.0
4,C,Flight,2.0,2.0,184.0,3,medium,F,46.0,2484.0,1.0
5,F,Flight,3.0,1.0,162.0,3,medium,F,12.0,1417.0,1.0
6,D,Flight,3.0,4.0,250.0,3,low,F,3.0,2371.0,1.0
7,F,Flight,4.0,1.0,233.0,2,low,F,48.0,2804.0,1.0
8,A,Flight,3.0,4.0,150.0,3,low,F,11.0,1861.0,1.0
9,B,Flight,3.0,2.0,164.0,3,medium,F,29.0,1187.0,1.0

In [1667]:
dataset = dataset.rename(columns={'Reached.on.Time_Y.N': 'Reached_On_Time'})

In [1668]:
dataset = dataset.replace([np.inf, -np.inf], np.nan)

In [1669]:
nan_counts = dataset.isna().sum()
print(nan_counts)

# dataset.info

Warehouse_block        0
Shipment               2
Customer_care_calls    2
Customer_rating        1
Product_Cost           1
Prior_purchases        0
Product_importance     2
Gender                 4
Discount_offered       0
Weight_in_gms          1
Reached_On_Time        1
dtype: int64

In [1670]:
# dataset.dropna(subset=['Customer_care_calls'], inplace=True)


columns_to_fill_with_average = ['Customer_care_calls', 'Customer_rating', 'Product_Cost', 'Product_importance']

for column in columns_to_fill_with_average:
    if dataset[column].dtypes == 'category':
        average_value = dataset[column].mode()[0]
    else:
        average_value = dataset[column].mean()

    dataset[column].fillna(average_value, inplace=True)

In [1671]:
print(dataset.isna().sum())

Warehouse_block        0
Shipment               2
Customer_care_calls    0
Customer_rating        0
Product_Cost           0
Prior_purchases        0
Product_importance     0
Gender                 4
Discount_offered       0
Weight_in_gms          1
Reached_On_Time        1
dtype: int64

In [1672]:
dataset.fillna({'Weight_in_gms': -1, 'Reached_On_Time': -1}, inplace=True)

In [1673]:
dataset['Reached_On_Time'] = dataset['Reached_On_Time'].astype(int)

In [1674]:
print(dataset.isna().sum())

Warehouse_block        0
Shipment               2
Customer_care_calls    0
Customer_rating        0
Product_Cost           0
Prior_purchases        0
Product_importance     0
Gender                 4
Discount_offered       0
Weight_in_gms          0
Reached_On_Time        0
dtype: int64

In [1675]:
def drop_duplicates(df):
    df.drop_duplicates(inplace=True)

In [1676]:
dataset.duplicated().sum()

40

In [1677]:
# BUT WE SHOULD NOT DO IT HERE
drop_duplicates(dataset)

In [1678]:
dataset.duplicated().sum()

0

In [1679]:
import numpy as np

def check_and_fill(df, col_name, col_range):
    df[col_name] = np.where((df[col_name] < col_range[0]) | (df[col_name] > col_range[1]), np.nan, df[col_name])
    df[col_name].fillna(method='ffill', inplace=True)
    df[col_name].fillna(method='bfill', inplace=True)

In [1680]:
check_and_fill(dataset, 'Discount_offered', (0, 100))

In [1681]:
dataset[(dataset['Discount_offered'] > 100) | (dataset['Discount_offered'] < 0)].shape[0]

0

In [1682]:
dataset['Customer_rating'].unique()

array([  2.        ,   5.        ,   3.        ,   1.        ,
         4.        , 133.        ,   3.07434695])

In [1683]:
check_and_fill(dataset, 'Customer_rating', (0, 5))

In [1684]:
dataset['Customer_rating'].unique()

array([2.        , 5.        , 3.        , 1.        , 4.        ,
       3.07434695])

In [1685]:
dataset['Customer_care_calls'] = dataset['Customer_care_calls'].astype(int)

In [1686]:
dataset.describe()

,Customer_care_calls,Customer_rating,Product_Cost,Prior_purchases,Discount_offered,Weight_in_gms,Reached_On_Time
count,1454.000000,1454.000000,1454.000000,1454.000000,1454.000000,1454.000000,1454.000000
mean,3.734525,2.984233,194.658671,3.276479,32.810179,2345.927785,0.998624
std,1.018591,1.403624,46.102333,1.426052,18.873462,949.341719,0.052450
min,2.000000,1.000000,3.000000,2.000000,1.000000,-1.000000,-1.000000
25%,3.000000,2.000000,157.000000,2.000000,16.000000,1550.000000,1.000000
50%,4.000000,3.000000,191.000000,3.000000,33.500000,2205.500000,1.000000
75%,4.000000,4.000000,234.000000,4.000000,49.000000,3067.000000,1.000000
max,7.000000,5.000000,294.000000,10.000000,65.000000,7846.000000,1.000000

In [1687]:
dataset.head(10)

,Warehouse_block,Shipment,Customer_care_calls,Customer_rating,Product_Cost,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached_On_Time
0,D,Flight,4,2.0,177.0,3,low,F,44.0,1233.0,1
1,F,Flight,4,5.0,216.0,2,low,M,59.0,3088.0,1
2,A,Flight,2,2.0,183.0,4,low,M,48.0,3374.0,1
3,B,Flight,3,3.0,176.0,4,medium,M,10.0,1177.0,1
4,C,Flight,2,2.0,184.0,3,medium,F,46.0,2484.0,1
5,F,Flight,3,1.0,162.0,3,medium,F,12.0,1417.0,1
6,D,Flight,3,4.0,250.0,3,low,F,3.0,2371.0,1
7,F,Flight,4,1.0,233.0,2,low,F,48.0,2804.0,1
8,A,Flight,3,4.0,150.0,3,low,F,11.0,1861.0,1
9,B,Flight,3,2.0,164.0,3,medium,F,29.0,1187.0,1